<section id="hero" data-label="Giriş">
  <div class="section-inner">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Mehmet Karabulut</h1>
        <p class="role">Petrol ve Doğalgaz Mühendisi</p>
        <p>İstanbul Teknik Üniversitesi Petrol ve Doğalgaz Mühendisliği bölümünden mezun bir mühendis olarak, şu anda özel bir şirkette aktif Saha Mühendisi pozisyonunda görev yapıyorum. Yeraltının ve sahanın zorlu dinamiklerini, teknolojinin ve yazılımın sunduğu modern çözümlerle bir araya getirme tutkusuyla çalışıyorum.</p>
        <!-- YENİ BUTONLAR -->
        <div class="hero-buttons">
          <a href="/assets/docs/Mehmet_Karabulut_CV.pdf" download class="btn btn-outline">Özgeçmişi İndir</a>
          <a href="#contact" class="btn btn-outline">İletişime Geç</a>
        </div>
      </div>
      <div class="hero-image-container">
        <img src="/assets/img/Mehmet Karabulut Vesikalık kırpılmış_2.jpg" alt="Mehmet Karabulut">
      </div>
    </div>
  </div>
</section>
